# TP1

OUKDACH Yassine

In [2]:
from  textblob import  TextBlob
from nltk.tokenize import word_tokenize
import sklearn
import pandas as pd
import math
import nltk

 TF :  gives us the frequency of the word in each document in the corpus. It is the ratio of number of times the word appears in a document compared to the total number of words in that document. It increases as the number of occurrences of that word within the document increases. Each document has its own tf.

$TF = (Frequency  of  the word in the sentence) / (Total number of words in the sentence)$

In [6]:
doc1 = "You are trying to code TF-IDF all by yourself like a big girl / boy"
doc2 = "So this is a tinny doc"
doc3= "And another tinny doc to test few stuff."
doc4 = "So in total, we are four documents, have fun ;)."

In [7]:
bagOfwords1 = doc1.split(' ')
bagOfwords2 = doc2.split(' ')
bagOfwords3 = doc3.split(' ')
bagOfwords4 = doc4.split(' ')

In [8]:
uniqueWords = set(bagOfwords1).union(set(bagOfwords2), set(bagOfwords3), set(bagOfwords4))
uniqueWords

{'/',
 ';).',
 'And',
 'So',
 'TF-IDF',
 'You',
 'a',
 'all',
 'another',
 'are',
 'big',
 'boy',
 'by',
 'code',
 'doc',
 'documents,',
 'few',
 'four',
 'fun',
 'girl',
 'have',
 'in',
 'is',
 'like',
 'stuff.',
 'test',
 'this',
 'tinny',
 'to',
 'total,',
 'trying',
 'we',
 'yourself'}

In [9]:
#creat the dictionaries to keep words count
numOfWords1 = dict.fromkeys(uniqueWords, 0)
numOfWords2 = dict.fromkeys(uniqueWords,0)
numOfWords3 = dict.fromkeys(uniqueWords, 0)
numOfWords4 = dict.fromkeys(uniqueWords, 0)

In [10]:
#count the words in bag of words (bagOfwords1,bagOfwords2,bagOfwords3,bagOfwords4)
for word in bagOfwords1:
    numOfWords1[word] += 1
    
for word in bagOfwords2:
    numOfWords2[word] += 1
    
for word in bagOfwords3:
    numOfWords3[word] += 1
    
for word in bagOfwords4:
    numOfWords4[word] += 1

In [11]:
df = pd.DataFrame([numOfWords1,numOfWords2,numOfWords3,numOfWords4])
df

,And,stuff.,we,So,fun,/,yourself,tinny,a,another,...,big,You,have,like,this,;).,girl,test,code,are
0,0,0,0,0,0,1,1,0,1,0,...,1,1,0,1,0,0,1,0,1,1
1,0,0,0,1,0,0,0,1,1,0,...,0,0,0,0,1,0,0,0,0,0
2,1,1,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,1,0,0
3,0,0,1,1,1,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1

In [12]:
def ComputeTF(wordDict, bow):
    # tf = (nbr of accuenrce of the word in the D/ nbr of words in D)
    tfDict = {}
    nbrOfWords = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(nbrOfWords)
    return tfDict

In [13]:
Tf1 = ComputeTF(numOfWords1, bagOfwords1)
Tf2 = ComputeTF(numOfWords2, bagOfwords2)
Tf3 = ComputeTF(numOfWords3, bagOfwords3)
Tf4 = ComputeTF(numOfWords4, bagOfwords4)
Tf1["boy"]

0.06666666666666667

# Inverse Data Frequency (IDF)


$IDF(t) = log_e(Total number of documents / Number of documents with term t in it).$

In [14]:
def ComputeIDF(documents):
    N = len(documents)
    #compter le nombre de document qui contient le mot 
    idfDict = dict.fromkeys(documents[0].keys(), 0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log(N / float(val))
    return idfDict

In [15]:
idfs = ComputeIDF([numOfWords1, numOfWords2, numOfWords3, numOfWords4])
idfs["boy"]

1.3862943611198906

# TF-IDF

the TF-IDF is simply the TF multiplied by IDF :
       <img src="TF-IDF.png">

In [16]:
def ComputeTFIDF(tfBagOfWords, idfs):
    tfidf = {}
    for word, val in tfBagOfWords.items():
        tfidf[word] = val * idfs[word]
    return tfidf

In [17]:
tfidf1 = ComputeTFIDF(Tf1, idfs)
tfidf2 = ComputeTFIDF(Tf2, idfs)
tfidf3 = ComputeTFIDF(Tf3, idfs)
tfidf4 = ComputeTFIDF(Tf4, idfs)
tfidf1["boy"]

0.09241962407465937

Les valeurs tf idf, tf-idf du mot "boy" est: 
   - Tf : 0.06666
   - Idf : 1.3862
   - Tf-idf : 0.09241

# term document matrix

In [18]:
#collez-les dans une matrice
df = pd.DataFrame([tfidf1, tfidf2, tfidf3, tfidf4])
df

,And,stuff.,we,So,fun,/,yourself,tinny,a,another,...,big,You,have,like,this,;).,girl,test,code,are
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.09242,0.09242,0.000000,0.046210,0.000000,...,0.09242,0.09242,0.000000,0.09242,0.000000,0.000000,0.09242,0.000000,0.09242,0.046210
1,0.000000,0.000000,0.000000,0.115525,0.000000,0.00000,0.00000,0.115525,0.115525,0.000000,...,0.00000,0.00000,0.000000,0.00000,0.231049,0.000000,0.00000,0.000000,0.00000,0.000000
2,0.173287,0.173287,0.000000,0.000000,0.000000,0.00000,0.00000,0.086643,0.000000,0.173287,...,0.00000,0.00000,0.000000,0.00000,0.000000,0.000000,0.00000,0.173287,0.00000,0.000000
3,0.000000,0.000000,0.138629,0.069315,0.138629,0.00000,0.00000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.138629,0.00000,0.000000,0.138629,0.00000,0.000000,0.00000,0.069315

# term document matrix with TfidfVectorizer

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [20]:
victorizer = TfidfVectorizer()
vectors = victorizer.fit_transform([doc1, doc2, doc3, doc4]) # return (document_id, token_id)
feature_names = victorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)
df

,all,and,another,are,big,boy,by,code,doc,documents,...,test,tf,this,tinny,to,total,trying,we,you,yourself
0,0.274792,0.000000,0.000000,0.216649,0.274792,0.274792,0.274792,0.274792,0.000000,0.000000,...,0.000000,0.274792,0.000000,0.000000,0.216649,0.000000,0.274792,0.000000,0.274792,0.274792
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.401043,0.000000,...,0.000000,0.000000,0.508672,0.401043,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.381669,0.381669,0.000000,0.000000,0.000000,0.000000,0.000000,0.300912,0.000000,...,0.381669,0.000000,0.000000,0.300912,0.300912,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.274603,0.000000,0.000000,0.000000,0.000000,0.000000,0.348299,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.348299,0.000000,0.348299,0.000000,0.000000

Les deux matrices sont diffÃ©rents car dans dans le cas du sklearn on ajoute a ITF un 1 au numÃ©rateur et dÃ©nominateur afin d'Ã©viter la division par 0

In [21]:
from nltk.corpus import shakespeare
import nltk

In [22]:
for book in nltk.corpus.shakespeare.fileids():
    print (book + ':', len(nltk.corpus.shakespeare.words(book)))

a_and_c.xml: 34192
dream.xml: 21538
hamlet.xml: 40379
j_caesar.xml: 26058
macbeth.xml: 22977
merchant.xml: 27263
othello.xml: 35092
r_and_j.xml: 33078

In [50]:
victorizer = TfidfVectorizer(ngram_range  = (2,2))
vectors = victorizer.fit_transform(shakespeare.fileids())
feature_names = victorizer.get_feature_names()
dense = vectors.todense()
denselist = dense.tolist()
df = pd.DataFrame(denselist, columns=feature_names)
df

,a_and_c xml,dream xml,hamlet xml,j_caesar xml,macbeth xml,merchant xml,othello xml,r_and_j xml
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0